:root {
  --theme: #425aef;
  --white: #fff;
  --card-bg: #fff;
  --card-border: #e3e8f7;
  --card-padding: 1rem 2rem;
  --card-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --font-color: #12153d;
  --font-thin-color: #8a93a6;
  --border-color: #eff0f8;
  /* --bg-color: #f5f9ff; */
  --bg-color: #fff;
  --max-width: 1400px;
  --xl-radius: 12px;
  --md-radius: 10px;
  --normal-radius: 8px;
  --3xl-size: 2rem;
  --2xl-size: 1.75rem;
  --xl-size: 1.5rem;
  --md-size: 1.25rem;
  --normal-size: 1rem;
  --sm-size: 0.75rem;
  --xs-size: 0.5rem;
  --maskbg: rgba(255, 255, 255, 0.6);
  --maskbgdeep: rgba(255, 255, 255, 0.85);
  --secondbg: #f1f3f8;
  --top-nav-height: 60px;
}

body {
  font: 400 1rem MiSans, PingFang SC, Microsoft YaHei, sans-serif;
}

.pointer {
  cursor: pointer;
}
